* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: url(img/table.png);
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #5b5b5b;
  color: white;
  text-align: center;
}
.logo {
  padding: 0;
  display: flex;
  margin: 0 auto;
  width: 400px;
  min-width: 400px;
  justify-content: center;
  flex-direction: column;
  height: 10dvh;
}

.container {
  height: 90dvh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  min-width: 400px;
  align-items: center;
}
h1 {
  font-size: 4rem;
  font-weight: 800;
  color: gold;
  margin: 0.3em 0 0 0;
}
.subtitle {
  font-size: 0.83rem;
  margin: 0;
  margin-top: -1.3em;
  margin-left: 15.5em;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
}
#message-el {
  font-size: 2rem;
  font-weight: 400;
  color: gold;
  margin-bottom: 0;
  margin-top: 2em;
}
#message-hide {
  margin-top: 0;
  font-size: 1rem;
}
#message-hide span {
  font-weight: 700;
}
.btn {
  padding: 0.7em 1.5em;
  font-weight: 800;
  font-size: 1rem;
  border: 0;
  border-radius: 10px;
  border: 4px solid gold;
  transition: scale 0.3s;
  background-color: white;
  cursor: pointer;
  color: #212427;
}
.btn:hover {
  scale: 103%;
}
.flex-btn {
  display: flex;
  gap: 1em;
}
